@charset "utf-8";
@import url("./common.css");

#main01 {
    width:100%;
    height:100vh;
    padding-bottom:100px;
    background:url(../images/main/main02.jpg) center no-repeat; background-size:cover; 
    position:relative;
}
#main01 #bgw{position:absolute; top:0; left:0; width:100%; height:100%; background:linear-gradient(30deg, #eee, transparent)}

#main01 span.typing-txt{display: none;}
#main01 .titBox{width:90%; max-width:1200px; margin:auto; text-align: center; padding-top:250px; position:relative; z-index:2; }
#main01 .titBox #ani {height:326px;}
#main01 .titBox #ani h1{font-size:120px; font-weight:900; height:326px; margin-bottom:20px; background: linear-gradient(0deg, #1A00DF, #8B11EB);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;color: transparent; text-align:left; }
#main01 .titBox #ani .typing-sm{height:20px; font-size: 18px; line-height: 1.9em;color: #000;display: flex;align-items: center;justify-content: flex-start; text-align: left; }
#main01 .titBox .typing { font-size:130px; display: inline-block; animation-name: cursor;  animation-duration: 0.3s;  animation-iteration-count: infinite; } 
#main01 .titBox #ani .typing::after { content: ''; display: inline-block; width: 2px; height: 0.9em; background: #1A00DF; transform: translateY(-12px);margin-left: 10px; vertical-align: middle; animation: blink-cursor 0.7s steps(1) infinite; } @keyframes blink-cursor { 0%, 50% { opacity: 1; } 51%, 100% { opacity: 0; } }
#main01 .cs-down_btn {position: absolute;height: 35px;width: 20px;border-radius: 10px;border: 2px solid #fff;bottom: 40px;left: 50%; margin-left: -10px;}
#main01 .cs-down_btn::before { content: ''; height: 5px; width: 5px; border-radius: 50%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; -webkit-animation: UpAndDown 3s infinite; animation: UpAndDown 3s infinite; } @keyframes UpAndDown { 0% { transform: translate(-50%, -50%) translateY(0); } 50% { transform: translate(-50%, -50%) translateY(-15px); } 100% { transform: translate(-50%, -50%) translateY(0); } }

#main02{width:100%; height:372px; margin-bottom:80px; display:flex; justify-content: center; align-items: center; }
#main02 .quick_form{width:90%; max-width:1200px; margin:auto; background:rgba(255,255,255,.8);}
#main02 .quick_form .quick_tab{display:inline-flex; border-radius: 100px; background:#fff; border:1px solid var(--gray-200); margin-bottom:15px;}
#main02 .quick_form .quick_tab .btn{width:120px; background:#fff; padding: 8px; color: var(--black-900); font-size: 16px; font-weight: 600; height: 40px; border-radius: 20px; font-family: 'Noto Sans KR', sans-serif;}
#main02 .quick_form .quick_tab .btn_active{background:linear-gradient(180deg, #1A00DF, #8B11EB);color:#fff;}
#main02 .quick_form .quick_tab .btn_active i{background:#fff; color:#1A00DF; padding:5px 0; width:28px; border-radius:50%; display:inline-block; margin-right:3px; }
#main02 .quick_form .inner {display:flex; align-items: center; justify-content: space-between;}
#main02 .quick_form .inner .frm{display:grid; width:calc((100% - 15px) / 3); background-color: #f5f5f5; padding: 32px; border-radius: 20px; position: relative;}
#main02 .quick_form .inner .frm .period{position: absolute;top: 50%; left:-25px; transform: translateY(-50%); color: #8B11EB; background-color: #fff; border: 1px solid #8B11EB; border-radius: 16px; justify-content: center; padding: 4px 13px;font-size: 12px;line-height: 12px;display: flex; }
#main02 .quick_form .inner .frm label{font-size:14px; font-family: 'Noto Sans KR', sans-serif; position:relative; font-weight:600; }
#main02 .quick_form .inner .frm label #month{position:absolute; right:0; top:0; }
#main02 .quick_form .inner .frm input{background:transparent; color:#222; border:0; font-family: 'Noto Sans KR', sans-serif; padding:0; text-align: left; }
#main02 .quick_form .inner .frm input:focus{outline:none; box-shadow: none;}
#main02 .quick_form .btns .update_btn{width:100%; height:72px; font-size: 20px; color:#fff; margin-top: 15px; background: linear-gradient(0deg, #1A00DF, #8B11EB); border-radius:20px; border:0;  }

#main03{width:90%; max-width:1200px; margin:0 auto 100px; }
#main03 .txtbox h1{font-size:32px; font-weight:900; margin-bottom:8px; }
#main03 .txtbox p{font-size:24px; font-weight:400; margin-bottom:32px; }
#main03 .box{display:flex; justify-content:space-between; align-items: center;}
#main03 .box .col{width:32%; margin-left:2%; border:1px solid #eee; box-shadow:3px 3px 10px #ccc; border-radius: 8px; overflow: hidden; padding:0; }
#main03 .box .col:first-child{margin-left:0; }
#main03 .box .col img{width:100%; height:162px; object-fit:cover; }
#main03 .box .col .txt{padding:30px; }
#main03 .box .col .txt h3{font-size:18px; margin-bottom:8px; font-weight:600; font-family: 'Noto Sans KR', sans-serif;}
#main03 .box .col .txt p{font-size:14px; color: var(--black-600); margin:0; font-family: 'Noto Sans KR', sans-serif;}

#main04{width:100%; height:253px; margin-bottom:100px; background:url(../images/main/main04.jpg) center; background-size:cover; display:flex; justify-content: center;align-items: center; position: relative;}
#main04 .bgw{width:100%; height:100%; position:absolute; top:0; left:0; background: radial-gradient(rgba(255,255,255,0.8), transparent);}
#main04 .txtBox{width:90%; max-width:1200px; margin:auto; text-align: center; position:relative; z-index:2; }
#main04 .txtBox p{font-size:24px; color:#000;}
#main04 .txtBox h1{font-size:40px;font-weight:900;margin:0;background: linear-gradient(30deg, #1A00DF, #8B11EB);background-clip: text;-webkit-background-clip: text;color: transparent;-webkit-text-fill-color: transparent;}
